<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.knime.kerberos.config.PrefInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.knime.workbench.ui.preferences"
            class="org.knime.kerberos.config.eclipse.KerberosPreferencePage"
            id="org.knime.kerberos.config.eclipse.KerberosPreferencePage"
            name="Kerberos">
      </page>
   </extension>
   <extension point="org.eclipse.ui.menus">
 		<menuContribution allPopups="true" locationURI="toolbar:org.eclipse.ui.trim.status">
  			<toolbar id="org.knime.kerberos.status">
    			<control class="org.knime.kerberos.config.eclipse.KerberosControlContribution" id="org.knime.kerberos.KerberosControlContribution">
    			</control>
 			</toolbar>
 		</menuContribution>
	</extension>
</plugin>
