[libdefaults]
 forwardable = true
 # rdns = false
 allow_weak_crypto = true
 default_realm = %REALM%

[realms]
 %REALM% = {
  kdc = %KDC%
 }
 
[domain_realm]
.ad.testing.knime = %REALM%
ad.testing.knime = WRONGREALM1
.testing.knime = WRONGREALM2
testing.knime = WRONGREALM3
.knime = WRONGREALM4
knime = WRONGREALM5
